.legenda {
    color: #000;
    right: -300px;
    bottom: 130px;
}

.legenda h5 {
    font-size: 30px;
}

@media (max-width: 991px) {
    .legenda {
        right: -300px;
        bottom: 50px;
    }
}

@media (max-width: 380px) {
    .search {
        width: 150px;
        margin-right: 5px;
    }

    .txt-r {
        display: none;
    }

    .menu-2 {
        float: left;
    }

    .legenda h5 {
        font-size: 10px;
    }
}